
<!-- contacto  -->
<section id="contactos" class="contacto seccion-oscura">
    <div class="container">
        <div class="container text-center rectangulo d-flex justify-content-evenly">
            <div class="class row">
                <div class="col-12 col-md-4 seccion-titulo">
                    ¡CONOCE MAS..!
                </div>
                <div class="col-12 col-md-4 descripcion">
                    Ingresa a la pagina oficial de Rick y Morty en:
                </div>
                <div class="col-12 col-md-4">
                    <a href="https://www.adultswim.com/videos/rick-and-morty" target="_blank" rel="noopener noreferrer">
                        <button type="button">
                            Oficial.
                            <i class="bi bi-globe2"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Pie de pagina -->
<footer id="footer" class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <img class="footer-logo" width="64" height="64"
        src="https://img.icons8.com/pastel-glyph/64/checked-laptop--v1.png" alt="checked-laptop--v1" />
    <p class="footer-texto text center">El dolor que sientes hoy es la fuerza que sentirás mañana.<br></p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-youtube"></i>
        </a>
        <a href="https://es-la.facebook.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter"></i>
        </a>
    </div>
    <div class="derechos-de-autor">Creado por Guedys Angola (2023) &#169;</div>
</footer>
