<div class="alert alert-primary font" role="alert">
    &#9733; DETALLE DE UBICACIÓN &#9733;
</div>
<app-header></app-header><br><br>
<!-- Horizontal card layout -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div *ngIf="location">
                <div class="card card-horizontal">
                    <div class="alert alert-primary font" role="alert">
                        &#9733; DETALLE DE UBICACIÓN &#9733;
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ location.name }}</h5>
                        <!-- Otros detalles específicos de la ubicación si los tienes -->
                        <p>Dimension: {{location.dimension}}</p>
                        <p>Type: {{location.type }}</p>
                        <p>#: {{location.id }}</p>
                        <a routerLink="/home/locations" class="btn btn-sm btn-primary">Volver a ubicaciones</a>
                    </div>

                    <!-- Lista de personajes -->
                    <h5>Lista de personajes que aparecen en el episodio</h5>
                    <ul class="list-group mt-3" *ngIf="location?.residents">
                        <li class="list-group-item" *ngFor="let characterUrl of location.residents">
                            <button type="button" class="btn btn-secondary"(click)="navigateToCharacter(characterUrl)"> # Personaje
                                {{getItemId(characterUrl)}}</button>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<app-footer></app-footer>