<div class="alert alert-primary font" role="alert">
  &#9733; DETALLE DE EPISODIO &#9733;
</div>
<app-header></app-header><br><br>

<!-- Horizontal card layout -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div *ngIf="episode">
        <div class="card card-horizontal">
          <div class="alert alert-primary font" role="alert">
            &#9733; DETALLE DE EPISODIO &#9733;
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ episode.name }}</h5>
            <p class="card-text fs-sm">Air Date: {{ episode.air_date }}</p>
            <p class="card-text fs-sm">Episode: {{ episode.episode }}</p>
            <p class="card-text fs-sm">Episode: {{ episode.id }}</p>
            
            <a routerLink="/home/episodes" class="btn btn-sm btn-primary">Volver a episodios</a>
          </div>
          <!-- Lista de personajes -->
          <h5>Lista de personajes que aparecen en el episodio</h5>
          <ul class="list-group mt-3" *ngIf="episode?.characters">
            <li class="list-group-item" *ngFor="let characterUrl of episode.characters">
              <button (click)="navigateToCharacter(characterUrl)"> # Personaje {{getItemId(characterUrl)}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
<app-footer></app-footer>