<div class="alert alert-primary font" role="alert">
  &#9733; EPISODIOS &#9733;
</div>
<app-header></app-header>

  <div class="row">
    <div class="col"><br><br><br>
      <div class="row">
        <div class="col">
          <input #searchInput type="text" class="form-control" (input)="searchEpisodes(searchInput.value)" placeholder="Buscar episodios"><br>
        </div>
      </div>
      <div class="accordion" id="episodeAccordion">
        <div *ngFor="let episode of episodes" class="accordion-item">
          <h2 class="accordion-header" id="heading{{ episode.id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + episode.id" [attr.aria-controls]="'collapse' + episode.id">
              <h5>{{ episode.name }}</h5>
            </button>
          </h2>
          <div id="collapse{{ episode.id }}" class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + episode.id" [attr.data-bs-parent]="'#episodeAccordion'">
            <div class="accordion-body">
              <button type="button" class="btn btn-link" (click)="irAlDetalle(episode.id)"><h5>Ver mas</h5></button>
              <!-- You can add more details here if needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br><br>

  <app-footer></app-footer>




