<div class="container">
  <div class="row">
    <div class="col">
      <input #searchInput type="text" class="form-control" (input)="searchEpisodes(searchInput.value)" placeholder="Buscar episodios">
      
      <div class="accordion" id="episodeAccordion">

        <!-- Loop through episodes and create accordion items -->
        <div *ngFor="let episode of episodes" class="accordion-item">
          <h2 class="accordion-header" id="heading{{ episode.id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + episode.id" [attr.aria-controls]="'collapse' + episode.id">
              {{ episode.name }}
            </button>
          </h2>
          <div id="collapse{{ episode.id }}" class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + episode.id" [attr.data-bs-parent]="'#episodeAccordion'">
            <div class="accordion-body">
              <p>Air Date: {{ episode.air_date }}</p>
              <p>Episode: {{ episode.episode }}</p>
              <p>#: {{ episode.id }}</p>
              <!-- You can add more details here if needed -->
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</div>