<!-- seccion hero head -->
<section class="hero align-items-stretch">
    <nav class="navbar navbar-expand-md navbar-ligth">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <a class="navbar-brand" href="">
                    <!--<img src="imagenes/pngtree-fuego-png-png-image_6502195.jpg" width="50" alt="logo de fuego de la pagina">-->
                </a>
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#proyectos">Personajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactos">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="testimonios-carrusel" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <p class="testimonio-texto">Sé bueno Morty. Sé mejor que yo.</p>
                </div>
                <div class="container">
                    <p class="testimonio-texto">Es una máquina nueva. Detecta cosas hasta tu trasero.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="entero">


    <!--Seccion de experiencia-->
    <app-body></app-body>
    <!-- video -->
    <section class="video-youtube">
        <div class="container-fluid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jerFRSQW9g8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </section>
    <!-- proyectos -->
    <section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column body-transparente">
        <h1 class="seccion-titulo texto-negro">PERSONAJES DESTACADOS</h1>
        <h3 class="seccion-descripcion">Estos son algunos los personajes mas atractivos de la trama</h3>
        <!--Galeria de proyectos-->
        <div class="container text-center proyectos-contenedor">
            <div class="row">
                <!-- Filtrar por nombre -->
                <ng-container>
                    <div class="col-12 col-md-6 col-lg-4">
                        <select class="form-select" aria-label="Filtar por nombre"  [(ngModel)]="filters.name">
                            <option value="">-- Filtrar por Nombre --</option>
                            <option *ngFor="let item of selectNames" [value]="item">{{ item }}</option>
                        </select>
                    </div>
                    <!-- Filtrar por estado -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <select class="form-select" aria-label="Filtrar por estado"   [(ngModel)]="filters.status">
                            <option value="">-- Filtrar por Estado --</option>
                            <option *ngFor="let item of selectStatus" [value]="item">{{ item }}</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <select class="form-select" aria-label="Filtrar por cantidad" [(ngModel)]="selectedPageSize" (change)="pageSizeEvent($event)">
                          <option value="">-- Filtrar por cantidad --</option>
                          <option *ngFor="let item of filterSize" [value]="item">{{ item }}</option>
                        </select>
                    </div>
                      
                      
                </ng-container>
                
                <div class="col-md-12 mt-2">
                    <button type="button" class="btn btn-primary" (click)="applyFilter()">Aplicar Filtro</button>
                    <button type="button" class="btn btn-dark m-2" (click)="deleteFilter()">Borrar filtro</button>
                  </div>
                <!-- proyecto 1 -->
                <ng-container *ngIf="load_data">
                    <div>
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!load_data">
                    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of data | paginate:{ itemsPerPage: selectedPageSize, currentPage: page, totalItems: count }">
                      <div class="proyecto">
                        <img src="{{item.image}}" alt="proyecto2">
                        <div class="overlay">
                          <p>{{item.name}},</p>
                          <p>{{item.species}},</p>
                          <p>{{item.status}}</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  
                <pagination-controls (pageChange)="completeData($event)"></pagination-controls>
            </div>
        </div>
        <a href="https://rickymortylatino.online/" target="_blank" rel="noopener noreferrer">
            <button class="btn btn-info button">
                Ver episodios completos
                <i class="bi bi-arrow-right-circle-fill"></i>
            </button>
        </a>
    </section>

    <!-- articulos -->
   <app-articulos></app-articulos>


    <!-- testimonios -->

    <section id="testimonios-gym">
        <h2 class="seccion-titulo">Critica</h2>
        <h3 class="seccion-descripcion">Estas son algunas criticas a la serie</h3>
        <!--seccion Carrusel-->
        <div id="testimonios-carrusel2" class="carousel carousel-dark slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <img class="testimonio-imagen rounded-circle"
                            src="https://randomuser.me/api/portraits/women/82.jpg" alt="foto cliente mario">
                        <p class="testimonio-tx">La serie al comienzo es excelente, tienen una trama con la que puede
                            salir adelante de sobra, pero al avanzar las temporadas solo te meten capitulos de relleno.
                          </p>
                        <div class="testimonio-info">
                            <p class="cliente">Daniela Blank</p>
                            <p class="cargo">Aficionada</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <img class="testimonio-imagen rounded-circle"
                            src="https://randomuser.me/api/portraits/men/54.jpg" alt="foto cliente carlos">
                        <p class="testimonio-tx">Una auténtica genialidad de serie. Bajo argumentos completamente
                            psicodélicos y situaciones creativamente rallantes esconde una cantidad enorme de ácidos
                            detalles.</p>
                        <div class="testimonio-info">
                            <p class="cliente">Daniel Gonzalez</p>
                            <p class="cargo">Aficionado</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <img class="testimonio-imagen rounded-circle"
                            src="https://randomuser.me/api/portraits/men/57.jpg" alt="foto cliente veronica">
                        <p class="testimonio-tx">Es una de las pocas series que logran engancharme al instante,amo
                            todo,los personajes,las referencias que nunca se escapan y toda la trama.</p>
                        <div class="testimonio-info">
                            <p class="cliente">Carlos</p>
                            <p class="cargo">Aficionado</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <app-footer></app-footer>

</section>