<div class="alert alert-primary font" role="alert">
  &#9733; LUGARES &#9733;
</div>
<app-header></app-header>

  
    <div class="row">
      <div class="col">
        <div class="accordion" id="locationAccordion">
          
  
          <!-- Loop through episodes and create accordion items -->
          <div *ngFor="let loc of location" class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loc.id }}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + loc.id" [attr.aria-controls]="'collapse' + loc.id">
                <h2>{{ loc.name }}</h2>
              </button>
            </h2>
            <div id="collapse{{loc.id }}" class="accordion-collapse collapse"
              [attr.aria-labelledby]="'heading' +loc.id" [attr.data-bs-parent]="'#locationAccordion'">
              <div class="accordion-body">
                <p>Dimension: {{loc.dimension}}</p>
                <p>Type: {{loc.type }}</p>
                <p>#: {{loc.id }}</p>
                <!-- You can add more details here if needed -->
              </div>
            </div>
          </div>
          
        </div>
      </div>
  </div><br><br><br><br><br>


  <app-footer></app-footer>
  