<div class="alert alert-primary font" role="alert">
    &#9733; DETALLE DE PERSONAJE &#9733;
  </div>
<app-header></app-header><br><br>
<!-- Horizontal card layout -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card card-horizontal">
          <div class="card-img-top"></div>
          <img src="https://www.xtrafondos.com/thumbs/1_8452.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text fs-sm">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br><br>  
<app-footer></app-footer>