<div class="alert alert-primary font" role="alert">
  &#9733; DETALLE DE PERSONAJE &#9733;
</div>
<app-header></app-header><br><br>
<!-- Horizontal card layout -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div *ngIf="character">
          <div class="card card-horizontal">
            <div class="alert alert-primary font" role="alert">
              &#9733; DETALLE DE PERSONAJE &#9733;
            </div>
            <div class="card-img-top">
              <img src="{{character.image}}" alt="{{character.name}}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
                <p class="card-text fs-sm">Status: {{character.status}}</p>
                <p class="card-text fs-sm">Species: {{character.species}}</p>
                <p class="card-text fs-sm">Type: {{character.type || 'N/A'}}</p>
                <p class="card-text fs-sm">Gender: {{character.gender}}</p>
                <p class="card-text fs-sm">Origin: {{character.origin.name || 'N/A'}}</p>
                <p class="card-text fs-sm">Location:
                  <button (click)="navigateToLocation(character.location.url)"> {{character.location.name || 'N/A'}}</button>
                </p>
                <a routerLink="/home/characters" class="btn btn-sm btn-primary">Volver a personajes</a>
            </div> <br>
          </div>
          <!-- Lista de episodios -->
          <h5>Lista de episodios dónde aparece el personaje</h5>
          <ul class="list-group mt-3" *ngIf="character?.episode">
            <li class="list-group-item" *ngFor="let episodeUrl of character.episode">
              <button type="button" class="btn btn-secondary" (click)="navigateToEpisode(episodeUrl)"> # Episode {{getItemId(episodeUrl)}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
  <br><br><br><br>  
<app-footer></app-footer>