<section id="articulos" class="articulos center-lg-start">
    <h2>Articulos</h2><br>
    <div class="card">
        <div class="card-header">
            Mas recientes
        </div>
        <ul class="list-group list-group-flush">
            <a href="https://elpais.com/television/2021-07-08/rick-y-morty-demuestra-que-la-ciencia-ficcion-no-tiene-que-tomarse-en-serio-para-valer-la-pena.html"
                target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">‘Rick y Morty’ demuestra que la ciencia ficción no tiene que tomarse en
                    serio para valer la pena</li>
            </a>
            <a href="https://www.univision.com/entretenimiento/cultura-pop/un-articulo-cientifico-sobre-rick-and-morty-dejo-en-evidencia-a-revistas-academicas-fraudulentas"
                target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">Un artículo «científico» sobre Rick and Morty dejó en evidencia a
                    revistas académicas fraudulentas</li>
            </a>
            <a href="https://elpais.com/cultura/2017/08/11/television/1502456914_337920.html" target="_blank"
                rel="noopener noreferrer">
                <li class="list-group-item">‘Rick y Morty’: es gracioso porque es horrible, asqueroso y hasta putrefacto
                </li>
            </a>
            <a href="https://www.elmundo.es/television/series/2023/01/26/63d27baefdddff12228b456f.html"
                target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">¿Qué va a pasar con Rick y Morty tras el despido de su creador?</li>
            </a>
            <a href="https://divulgacion.minciencias.gov.co/opinion/rickymorty" target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">Dios no existe y probablemente lo mató Rick Sánche
                </li>
            </a>
            <a href="https://www.superaficionados.com/rick-and-morty-curiosidades-serie/" target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">Rick y Morty: las curiosidades más locas de la serie más irreverente</li>
            </a>
        </ul>
    </div>
</section>